/*CONTENIIDO*/
.box-contenido {
  margin-top: 60px;
  margin-bottom: 60px;
}

.row.box-item {
  margin-bottom: 180px;
  background-color: #F2F4F4;
}

.box-contenido-titulo {
  color: #1D3278;
  display: none;
}

.row.box-item img {
  padding-top: 40px;
  margin-bottom: -140px;
}

.row.box-item .texto-contenido {
  font-size: 15px;
  color: #333333;
  margin-top: 40px;
  margin-bottom: 24px;
  padding-left: 50px;
  padding-right: 50px;
}
.banner{
  min-height: 518px;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 40px
}
