footer {
	background-color: #333333;
}

footer .container .row {
	padding-bottom: 25px;
}

footer ul{
	columns: 2; 
	-webkit-columns: 2; 
	-moz-columns: 2; 
	padding-left: 0;
}

footer ul li{
	-webkit-column-break-inside: avoid;
 	page-break-inside: avoid;
  	break-inside: avoid;
  	list-style:none;
  	font-size: 15px;
	font-weight: 400;
}

footer ul li a{
	color: #AAAAAA;
	font-size: 15px;
}

footer ul li a:hover{
	color: #0096D3;
	text-decoration: none;
}

footer .titulo-footer{
	color: #0096D3;
	font-size: 15px;
	font-weight: 500;
}

footer .icon-footer{
	color: #0096D3;
	font-size: 28px;
	text-align: center;
}

footer .enlace-footer{
	color: #AAAAAA;
	font-size: 14px;
}

footer .enlace-footer:hover{
	color: #0096D3;
	text-decoration: none;
}

.border-footer {
    border-right: 2px solid #0096D3;
}

