.features{
  margin-top: 65px;
  margin-bottom: 65px;
}

.features .features-item{
  height: 275px;

}

.features .features-item .row{
  display:flex;
  align-items:center;
  width: 100%;
  margin: 0 auto;
}

.features .features-item:nth-child(4n), .features .features-item:nth-child(4n+1) {
  background-color: #F2F4F4;
}

.pill-titulo{
  width: 150px;
  display: inline-block;
  color: white;
  font-size: 15px;
  margin-left: -10px;
  padding: 15px 25px 15px 15px;
  border-top-right-radius: 50rem!important;
  border-bottom-right-radius: 50rem!important;
  background-color: #0096D3;
}


.features-text ul{
  font-size:15px;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: #0096D3;
}

.features-text ul li {
}